.seting-content{
  background: #f9f9f9;
  height: calc(100vh - 45px);
  .action{
    padding: 50px 25vw 0;
    text-align: center;
  }
  .am-list-content{
    font-size: 0.9rem !important;
    color: #666 !important;
  }
}